@font-face {
    font-family: 'Qwigley';
    src: url('Qwigley-Regular.woff2') format('woff2'),
        url('Qwigley-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

